.sortable{
	display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    background-image: url("Fiesta.jpg");
	cursor: auto;
}
.border{
	flex-grow: 0;
    transition:width 0.5s; /* Animation time */
    -webkit-transition:width 0.5s; /* For Safari */
}
.border:hover{
	flex-grow: 1;